<form action="/charge" method="post" class="payment">
  <article>
    <label class="amount">
      <span>Amount $5.00</span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_51HhnLmJgx7WFG8VYsU8oSMAYaZsOi6ut81FzbkczJBijf8hr0rEqZioGPn8FZKD4LHBOZATCTNscz15NHHN1VwDs00hISYQ9ou"
          data-description="You bnb statement"
          data-amount="500"
          data-locale="auto">
    </script>
</form>
